test_code*/
.vscode/
Result Test/
midas_civil/__pycache__/
midas_civil/_section/__pycache__/
midas_civil/_utilsFunc/__pycache__/
cmd*.py
test*.py
ss*.py
zz*.py
back*.py
gitDEPLOY.py

# Compiled Python bytecode
*.py[cod]
*.bak
example_*.py